<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit pet</title>
</head>
<body>
	<form th:method="PATCH" th:action="@{/pets/{id}/edit(id=${pet.id})}" th:object="${pet}">
		<label for="name">Enter name: </label>
		<input type="text" th:field="*{name}" id="name"/><br/>

		<label for="type">Enter type: </label>
		<input type="text" th:field="*{type}" id="type"/><br/>
		
		<label for="birthDate">Enter birth date: </label>
		<input type="text" th:field="*{birthDate}" id="birthDate"/><br/>
		
		<label for="commands">Enter commands: </label>
		<input type="text" th:field="*{commands}" id="name"/><br/>
		
		<input type="submit" value="Update"/>
		
	</form>
</body>
</html>