<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pack animals</title>
	<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<h1>Pack animals</h1>
	<img th:src="@{/images/Packanimals.jpg}"/><br/>
	
	<form th:method="GET" th:action="@{/pack_animals/new}">
		<input type="submit" value="Add new pack animal"/>
	</form>
	
	<div th:each="packAnimal : ${packAnimals}">
		<a th:href="@{/pack_animals/{id}(id=${packAnimal.id})}"
			th:text="${packAnimal.id} + '. ' + ${packAnimal.name}"/>
	</div>
</body>
</html>